# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT=dev
SECURITY_KEY=
APP_URL=http://localhost:3000
SITE_NAME=Boilerplate

DB_DRIVER=mysql
DB_SERVER=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=

SYSTEM_EMAIL_ADDRESS=